.menu{
  display: flex;
  justify-content: center;
  &__nav{
    position: absolute;
    width: 100%;
    padding: 8px 35px;
    @include respondmax(lg){
      display: flex;
    }
  }
  &__responsive{
    @include respondmax(lg){
      background: $gray7Color !important;
      z-index: 9999;
      color: $blackColor;
    }
  }
  &__btn{
    @include respondmax(lg){
      order: -9;
    }
  }
  &__logo{
    width:140px;
    height:35px;
  }
  &__brand{
    margin-right: 0 !important;
  }
  &__sign{
    display: none;
    @include respondmax(lg){
      display: block !important;
    }
  }
  &__login{
    @include respondmax(lg){
      display: none !important;
    }
  }
  &__list{
    align-items: center;
  }
  &__sticky{
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $whiteColor !important;
    transition: all .4s !important;
    border-bottom: 1px solid $grayBackColor;
  }
  &__active{
    color: $blackColor !important;
  }
}