.white-text{
	color: $whiteColor !important;
}
.black-text{
	color: $blackColor !important;
}
.gray-text{
	color: $grayColor !important;
}
.blue-text{
	color: $blueColor !important;
}
.light-black-text{
	color: $lightBlackColor !important;
}

.p-10{
	padding: 10px;
}
.nopadding{
	padding: 0;
}

.px-10{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.py-15{
	padding-top: 15px;
	padding-bottom: 15px;
}
.py-1{
	padding-top:1px !important;
	padding-right: 1px !important;

}
.mb-md-10{
	@include respondmax(md){
		margin-bottom: 10px;
	}
}

.my-20{
	margin-bottom: 20px;
	margin-top: 20px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-10{
	margin-bottom: 10px;
}

.ml-2{
	margin-left: 2px;
}

.scroll-up{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	right: 25px;
	bottom: 25px;
	text-align: center;
	line-height: 40px;
	z-index: 10000;
	i{
		color: $whiteColor;
		font-size: 2.2rem;
	}
}
.animation-btn{
  animation: scale-btn .7s;
}
@keyframes rotateY {
	from{
		transform: rotateY(0deg)
	}
	to{
		transform: rotateY(360deg);
	}
}
@keyframes scale-btn {
	from{
		transform: scale(0.6);
	}
	to{
		transform: scale(1);
	}
}