<header class="header">
    <div class="menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent menu__nav menu__sticky">
            <a class="navbar-brand menu__brand" href="#">
                <img class="menu__logo d-block" src="frq-templates/img/logo-sticky.svg" alt="logo img">
            </a>
            <div class="menu__sign">
                <a class="nav-link black-text" href="#">
                    <i class="material-icons">exit_to_app</i>
                </a>
            </div>
            <button class="navbar-toggler menu__btn" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav menu__list">
                    <li class="nav-item px-10">
                        <a class="nav-link menu__active" href="#">Home</a>
                    </li>
                    <li class="nav-item px-10">
                        <a class="nav-link black-text" href="#">Review</a>
                    </li>
                    <li class="nav-item px-10">
                        <a class="nav-link black-text" href="#">Pricing</a>
                    </li>
                    <li class="nav-item px-10">
                        <a class="nav-link black-text" href="#">Pages</a>
                    </li>
                    <li class="nav-item px-10 mb-md-10">
                        <a class="nav-link black-text link px-10 py-15" href="#">Write Review</a>
                    </li>
                    <li class="nav-item px-10">
                        <a class="nav-link black-text link link--darkBlue px-10 py-15" href="#">For Companies</a>
                    </li>
                    <li class="nav-item px-10">
                        <a class="nav-link black-text" href="#">
                            <i class="material-icons menu__login">exit_to_app</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>