<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VANNO | Premium directory consumer reviews and listings template by Ansonika.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="frq-templates/img/favicon.ico" />
    <!-- Place favicon.ico in the root directory -->

    <script type="text/javascript">
        window.onerror = function (errorMsg, url, lineNumber) {
            var s = '';
            s += "Javascript error!";
            s += "\n----------------------------------------\n";
            s += errorMsg;
            s += "\nFile : " + url;
            s += "\nLine : " + lineNumber;
            alert(s);
        }
    </script>

    <link rel="stylesheet" type="text/css" href="frq-templates/libs/normalize.css/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="frq-templates/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css">-->
    <link rel="stylesheet" href="frq-templates/css/main/main.min.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->