.banner{
    background: $darkBlueColor url("../../../frq-templates/img/pattern_2.svg") top center repeat;
    height: 500px;
  &--version{
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 600px;
  }
  &--fixed{
    background-attachment: fixed !important;
  }
  &__noRepeat{
    background-repeat: no-repeat !important;
  }
  &__overlay{
    background-color: rgba(0,0,0,.6);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    &--gradient{
      background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent) !important;
    }
  }

  &__info{
    color: #fff;
    max-width: 100%;
    min-height: 50%;
    text-align: center !important;
  }
  &__title{
    font-size: 5.2rem;
    @include respondmax(md){
      font-size: 3.2rem;
    }
  }
  &__subtitle{
    font-size: 2rem;
    @include respondmax(md){
      font-size: 1.6rem;
    }
  }
}