.user {
  padding: 60px 0;
  background-color: $darkBlueColor;
  display: flex;
  &__summary {
    display: flex;
    align-items: center;
    @include respondmax(md){
      flex-direction: column;
      text-align: center;
    }
  }
  &__media {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 50px;
    flex-shrink: 0;
    @include respondmax(md){
      margin-right: 0 !important;
    }
  }
  &__img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  &__fullname {
    font-size: 2.8rem;
    color: $whiteColor;
    @include respondmax(md){
      font-size: 2.4rem;
    }
  }
  &__country {
    font-size: 1.6rem;
    color: $gray;
    @include respondmax(md){
      font-size: 1.4rem;
    }
  }
  &__item:not(:first-child) {
    display: inline-block;
    margin-left: 25px;
    text-align: center;

  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blueColor;
    color: $whiteColor;
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
    border-radius: 50%;
    font-size: 2.2rem;
  }
  &__link {
    color: $whiteColor;
  }
  &__review{
    @include respondmax(md){
      display: flex;
      float: none !important;
      justify-content: center;
    }
  }
}