.page{
  &__title{
    font-size: 3rem !important;
    color: $lightBlackColor;
  }
  &__subtitle{
    font-size: 1.8rem;
    color: $lightGrayColor;
    display: flex;
    justify-content: space-between;
    @include respondmax(md){
      flex-direction: column;
      font-size: 1.4rem;
    }
  }
  &__link{
    font-size: 1.4rem;
    text-decoration: none !important;
  }
}
