/*fonts*/
$robotoRegular:Roboto-Regular;

/*Colors*/
$whiteColor:#fff;
$blackColor:#000;
$lightBlackColor:#222;
$lightGrayColor:#555;
$darkGrayColor:#ccc;
$grayColor:#D6D6D6;
$yellowColor:#FFC107;
$blueColor: #3578fa;
$darkBlueColor: #051d4d;
$lightBlueColor: #EEF3F7;
$greenColor:#32a067;
$gray:#999;
$gray7Color:#777;
$gray4Color: #444;
$grayBackColor:#ededed;
$grayBorderColor:#ddd;
$fbColor:#3B5998;
$googleColor:#DC4E41;
$pink:#FF9191;
$lightPink: #FFC7C7;
$darkPink: #94546E;
$green:#C4EEC8;
$lightGreen: #E4FFE4;
$darkGreen: #51926E;
